/Server/reach_server/target/
/Client/reach/
!/Client/reach/lib
!/Client/reach/windows
!/Client/reach/assets
!/Client/reach/android
!/Client/reach/ios
!/Client/reach/linux
!/Client/reach/macos
!/Client/reach/web
!/Client/reach/.metadata
!/Client/reach/.flutter-plugins
!/Client/reach/.flutter-plugins-dependencies
!/Client/reach/analysis_options.yaml
!/Client/reach/pubspec.lock
!/Client/reach/pubspec.yaml
!/Client/reach/reach.iml